<h2>Forecast</h2>
<div class="mt-4 d-flex align-content-stretch justify-content-center flex-wrap wrap" >

  <div class="p-2  h-auto weather-block " *ngFor="let day of forecastOutputData" [ngClass]="{
              night: !isDay(day.date),
              day: isDay(day.date)
           }">

    <p>
      <span class="date" *ngIf="typeOfCall === TypeOfCallEnum.DAILY">{{day.date | date:'H:mm'}}</span>
      <span class="date" *ngIf="typeOfCall === TypeOfCallEnum.THREE_DAYS">{{day.date | date:'dd.MM HH:mm'}}</span>
      <span class="date" *ngIf="typeOfCall === TypeOfCallEnum.WEEKLY ">{{day.date | date:'dd.MM'}}</span>
    </p>
    <p></p>
    <img class="icon" src="http://openweathermap.org/img/wn/{{day.icon}}@2x.png">
    <div *ngIf="typeOfCall === TypeOfCallEnum.WEEKLY">
      <p>Day: {{day.temp}}℃</p>
      <p>Night: {{day.nightTemp}}℃</p>
    </div>
    <p class="temp" *ngIf="typeOfCall !== TypeOfCallEnum.WEEKLY">{{day.temp}}℃<span *ngIf="day.nightTemp !== null"> / {{day.nightTemp}}℃</span></p>
    <p class="weather-info">{{day.weather}}</p>
  </div>
</div>
